<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qs.mapper.RoomMapper">
  <resultMap id="BaseResultMap" type="com.qs.bean.Room">
    <result column="room_id" jdbcType="INTEGER" property="roomId" />
    <result column="room_picture_url" jdbcType="VARCHAR" property="roomPictureUrl" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="is_recommended" jdbcType="INTEGER" property="isRecommended" />
    <result column="location" jdbcType="VARCHAR" property="location" />
    <result column="is_avaliable" jdbcType="INTEGER" property="isAvaliable" />
    <result column="bed_count" jdbcType="INTEGER" property="bedCount" />
    <result column="room_area" jdbcType="DOUBLE" property="roomArea" />
    <result column="bath_room_count" jdbcType="INTEGER" property="bathRoomCount" />
    <result column="balcony_count" jdbcType="INTEGER" property="balconyCount" />
    <result column="bed_type" jdbcType="INTEGER" property="bedType" />
    <result column="surrounding_introduction" jdbcType="INTEGER" property="surroundingIntroduction" />
    <result column="introduction" jdbcType="INTEGER" property="introduction" />
  </resultMap>
  <sql id="Base_Column_List">
    room_id, room_picture_url,title,is_recommended,price,location,is_avaliable,bed_count,room_area,bath_room_count,balcony_count,bed_type,surrounding_introduction,introduction,
    room_address,room_name,longitude,latitude
  </sql>
  <select id="selectRecommendRoomList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from qs_room
    where is_recommended = 1
  </select>

  <select id="selectRoomByRoomId" resultMap="BaseResultMap" parameterType="INTEGER">
    select
    <include refid="Base_Column_List" />
    from qs_room
    where room_id = #{roomId,jdbcType=INTEGER}
  </select>

  <select id="selectAvalRoomList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from qs_room
    where is_avaliable = 1
  </select>
  <insert id="insert" parameterType="com.qs.bean.Room">
    insert into qs_room (room_id, room_picture_url, price, 
      title, is_recommended, location, 
      is_avaliable,bed_count,room_area,bath_room_count,balcony_count,bed_type,surrounding_introduction,introduction)
    values (#{roomId,jdbcType=INTEGER}, #{roomPictureUrl,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, 
      #{title,jdbcType=VARCHAR}, #{isRecommended,jdbcType=INTEGER}, #{location,jdbcType=VARCHAR}, 
      #{isAvaliable,jdbcType=INTEGER}, #{bedCount,jdbcType=INTEGER}, #{roomArea,jdbcType=DOUBLE}, #{bathRoomCount,jdbcType=INTEGER},
      , #{balconyCount,jdbcType=INTEGER}, #{bedType,jdbcType=VARCHAR}, #{surroundingIntroduction,jdbcType=VARCHAR}
      , #{introduction,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qs.bean.Room">
    insert into qs_room
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roomId != null">
        room_id,
      </if>
      <if test="roomPictureUrl != null">
        room_picture_url,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="isRecommended != null">
        is_recommended,
      </if>
      <if test="location != null">
        location,
      </if>
      <if test="isAvaliable != null">
        is_avaliable,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roomId != null">
        #{roomId,jdbcType=INTEGER},
      </if>
      <if test="roomPictureUrl != null">
        #{roomPictureUrl,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="isRecommended != null">
        #{isRecommended,jdbcType=INTEGER},
      </if>
      <if test="location != null">
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="isAvaliable != null">
        #{isAvaliable,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>